<!DOCTYPE html>
<html lang="pt">

    <%- include('../components/Head', {HIDE_DEFAULT_METATAGS: false}) %>

    <body class="bg-[#1d1d1d] text-white">
        <%- include('../components/Header', {PAGE_TITLE: ''}) %>

        <section class="bg-[#292929]">
            <div class="mx-auto container p-[0.1px] px-10">
                <%- include('../components/feed/FeedMainPost', { post: feed[0], feed, showNewestTag: true, }) %>
            </div>
            <div class="mx-auto container py-6 px-10 grid grid-cols-1 md:grid-cols-4 gap-2">
                <% feed.shift(); feed.slice(0, 3).forEach((post) => { %>
                    <%- include('../components/feed/FeedSmallPost', { post, feed, showNewestTag: false }) %>
                <% }); %>
                <article class="bg-[#1d1d1d] rounded-lg cursor-pointer hover:opacity-75 duration-150" onclick="location.href='/posts'">
                    <div class="grid place-items-center">
                        <div class="align-middle py-40 opacity-75 text-center">
                            <div>
                                <i class="fa-solid fa-chevron-right bg-[#292929] rounded-full p-12 fa-xl"></i>
                            </div>
                            Ver mais
                        </div>
                    </div>
                </article>
            </div>
            <div class="mx-auto container px-10 pb-10">
                <div class="outline-2 outline-dashed outline-[#1d1d1d] h-96 rounded-lg">
                    
                </div>
            </div>
        </section>
    </body>
</html>