<!DOCTYPE html>
<html lang="pt">

    <%- include('../components/Head', {HIDE_DEFAULT_METATAGS: false}) %>

    <body class="bg-[#1d1d1d] text-white">
        <%- include('../components/Header', {PAGE_TITLE: 'BIBLIOTECA'}) %>

        <section class="bg-[#292929]">
            <div class="h-96"></div>
        </section>
    </body>
</html>