<!DOCTYPE html>
<html lang="pt">

    <title>eArchives - <%= article.title %></title>

    <%- include('../components/Head', {HIDE_DEFAULT_METATAGS: false}) %>

    <body class="bg-[#1d1d1d] text-white">
        <%- include('../components/Header', {PAGE_TITLE: article.title}) %>

        <section class="bg-[#292929] h-[100vh]">
            <div class="mx-2">
                <div class="grid grid-cols-5 gap-4 p-4">
                    <div class="bg-[#1d1d1d] rounded-lg shadow">
                        a
                    </div>
                    <div class="bg-[#1d1d1d] rounded-lg shadow col-span-3">
                        a
                    </div>
                    <div class="bg-[#1d1d1d] rounded-lg shadow">
                        a
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>