<footer class="pt-4">
    <div class="text-center text-sm pb-4 opacity-50"> 
        Copyright (C) 2021-2022 - 
        <a href="https://github.com/projectdema/earchives" target="_blank" rel="noopener noreferrer">
            <span class="text-accent font-semibold">e</span>Archives <i class="fa-brands fa-github"></i>
        </a>
    </div>
</footer>